body .bst-echo *{
    color: rgba(38,50,56,1);
    font-size: 15px;
    background-color: #ffffff;
}

body.pop .bst-echo-main .bst-echo-header .bst-echo-header-info *[
    border-radius: 0em 0em 0em 0em;
    padding: 1em;
    background-color: #ffffff; !important
}



body .bst-echo-main .bst-echo-header .bst-echo-header-info *{
    background-color: #ffffff;
}

body.win {
	background-color: #ffffff !important;
}

html {
	background-color: #ffffff !important;
}